* {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.container2 {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', sans-serif;
  font-size: 5rem;
  color: #66BFBF;
  margin-top: 90px;
}

h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: 'Urbanist', sans-serif;
  color: #66BFBF;
  font-size: 2rem;
}

/* Header */

header {
  background-color: #EAF6F6;
}

.h2-intro {
  margin-bottom: 0;
}

header h1 {
  margin-top: 0;
  padding-top: 150px;
}

h2 span {
  text-decoration: underline;
}

header p {
  font-family: 'Urbanist', sans-serif;
  font-size: 1rem;
  color: #66BFBF;
  display: inline-block;
  position: relative;
  left: 95px;
  margin-top: 0;
}

img {
  display: block;
  margin: 0 auto;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 0;
}

.bottom-cloud {
  position: absolute;
  padding-top: 40px;
  left: 0;
}

.mountain {
  margin-top: 80px;
}

/* main */

main {
  margin-top: 70px;
}

.photo {
  width: 180px;
  height: 180px;
}

p {
  margin-top: 40px;
  color: #40514E;
  font-size: 1.25rem;
}

h3 {
  margin: 0;
  font-family: 'Urbanist', sans-serif;
  color: #11999E;
}

hr {
  border: none;
  border-top: dotted 6px #EAF6F6;
  width: 50px;
  margin: 80px auto;
}

.skill {
  display: flex;
  text-align: left;
  margin-top: 60px;
  align-items: center;
}

.skill img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 5px solid #66BFBF;
}

.skill p {
  margin: 15px 0;
}

.skilltext-right {
  margin-left: 40px;
  align-items: center;
}

.skilltext-left {
  margin-right: 20px;
}

button {
  margin: 50px 0 60px 0;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 7px;
  font-family: 'Urbanist', sans-serif;
  font-size: 1.125rem;
  color: #EAF6F6;
  font-weight: bold;
  letter-spacing: 1px;
  background-image: linear-gradient(#66BFBF, #11999E);
  cursor: pointer;
}

/* footer */

footer {
  background-color: #66BFBF;
}

.socialmedias {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
}

footer a {
  font-family: 'Urbanist', sans-serif;
  text-decoration: none;
  font-size: 1.125rem;
  color: #11999E;
  font-weight: bold;
  transition: 0.2s;
}

footer a:hover {
  color: #EAF6F6;
}

footer p {
  color: #EAF6F6;
  font-size: 1rem;
  padding-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .mountain {
    width: 100%;
  }

  /* .top-cloud, .bottom-cloud {
    width: 150px;
  } */

}